<div class="application">
  <header>
    <span>{{header}}</span>
  </header>
  <main>
    <div class="content">
      <section>{{content}}</section>
    </div>
  </main>
  <footer>
    <span>{{footer}}</span>
  </footer>
</div>
