<!DOCTYPE html>

<html lang="en">

<head>

<base href="." target="_blank" />

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />

<title>{{title}}</title>

<link rel="stylesheet" href="css/main.css" />

</head>

<body>

<script src="js/vendor/handlebars.js"></script>
<script src="js/templates.js"></script>
<script src="js/main.js"></script>

</body>

</html>
